                /*BODY*/

body, html {
    margin: 0;
    padding: 0;
    font-family: 'kanit';
    background-image: url('https://phantom-elmundo.unidadeditorial.es/969fa8370baf22f4eb01721aeb23f24d/resize/1200/f/jpg/assets/multimedia/imagenes/2023/02/08/16758645043214.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
}

                /* HEADER */

header {
    text-align: center;
    height: 50%;
    margin-bottom: 3rem;
    font-family: 'Rubik burned';
    font-size: 10rem;
    cursor:pointer;
}

.episode-list{
    margin-top: 3rem;
    z-index: 1;
    text-align: center;
}
   
                /* SIDEBAR */ 
.sidebar_style {
    float: left; 
    width: 250px; 
    height: 65%; 
    background-color:rgba(50, 38, 24, 0.7);
    border-radius: 20rem;
    color: white;
}

                /* SIDEBAR LIST  */

.list-group-item-action {
    color: white;
}

.list-group-item-action:hover {
    font-weight: 600;
    color: #E8CD40; 
}

.list-of-episodes {
    margin-bottom: 1rem;
    margin-left: 4rem;
    cursor: pointer;
    font-family:'kanit';
    list-style-type: none;
}

.list-of-episodes:hover {
    color:#E8CD40;
}

 ul .list-group-item.active {
    background-color: black;
    transition:cubic-bezier(1, 0, 0, 1);
} 


                /* SIDEBAR BUTTON  */

.sidebar-button {
    display: block;
    margin-left: 5rem;
    width: 50%;
    padding: 0.5rem;
    margin-top: 1rem;
    background-color: #A5CEE4;
    color: white;
    font-weight: 600;
    border-radius: 1rem;
    cursor: pointer;
}

.sidebar-button:active {
    background-color: #E8CD40;
}

                /* MAIN CONTAINER*/

.main-style {
    font-family:'kanit';
}


                /*CONTENT INSIDE MAIN CONTAINER*/

.container-style {
    border: 0px solid #ccc;  
    margin: 20px auto;
    max-width: 100%; 
    padding-left: 21.3rem;
    color: #E8CD40;
    font-weight: 600; 
}

.container-character {
    padding-right: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5rem;
    overflow: auto;
    max-height: 100vh;
    margin-top: -0.1rem;

}

.character-details {
    text-align: left;
    padding: 10px;
    border-radius: 1rem;
    box-shadow: 0, 4px, 8px rgba(0, 0, 0, 0.1);
    width: 15rem;
    background-color: #E8CD40;
}

.character-details img {
    border-radius: 10px;
    margin-top: 10px;
}

.character-image {
    width: 100%;
    height: auto;
}

.location-details {
    color: #E8CD40;
    padding-right: 8rem;
    margin-top: -7rem;
    font-weight: 600; 
}



.residents-card {
    padding-right: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5rem;
    overflow: auto;
    max-height: 100vh;
    margin-top: -0.1rem;
    list-style-type: none;
}

.residents-container {
    text-align: left;
    padding: 10px;
    border-radius: 1rem;
    box-shadow: 0, 4px, 8px rgba(0, 0, 0, 0.1);
    width: 15rem;
    background-color: #E8CD40;
    
}

.residents-container img {
    border-radius: 10px;
    margin-top: 10px;

}


.resident-image {
    width: 100%;
    height: auto;
}


.episode-details {
    color: blue;
} 

.character-episode {
    background-color: #E8CD40;
    border-radius: 2rem;
    text-align: center;
    font-weight: 600;

}

.episode {
    text-align: center;
    font-weight: 600;

}

.totalEpisodes{
    text-align: center;
    font-weight: 600;


}

  #episode-list {
    max-height: 300px;  
    max-width: 150px; 
    overflow-y: auto;
  }
  
  .character-name {
    cursor: pointer;
    
}

.character-card {
   
    justify-content: center;
}

.location-details {
    
    padding-top: 8rem;
}

@media only screen and (max-width: 768px) {
    header {
        font-size: 2rem; 
    }

    .sidebar_style {
        width: 100%;
    }


    .sidebar-button {
        width: 60%; 
    }

    .container-style {
        padding-left: 1rem; 
    }
}